{
  "include": [
    "src/api/**/*.js",
    "src/lib/**/*.js",
    "src/config/**/*.js",
    "src/services/**/*.js"
  ],
  "exclude": [
    "src/config/express",
    "src/config/logger",
    "src/config/sms",
    "src/services",
    "src/lib/templates/**/*.js"
  ],
  "reporter": [
    "lcov",
    "json",
    "text",
    "text-summary",
    "clover"
  ],
  "check-coverage": true,
  "branches": 70,
  "lines": 70,
  "functions": 70,
  "statements": 70
}