{
  "include": [
    "src/**/**/**/*.js"
  ],
  "exclude": [
    "src/users/config/express",
    "src/users/config/logger",
    "src/users/config/sms",
    "src/users/services",
    "src/users/lib/templates/**/*.js",
    "src/users/api/services/services.email.js",
    "src/admins/services",
    "src/admins/lib/templates/**/*.js",
    "src/admins/api/services/services.email.js"
  ],
  "reporter": [
    "lcov",
    "json",
    "text",
    "text-summary",
    "clover"
  ],
  "check-coverage": true,
  "branches": 70,
  "lines": 70,
  "functions": 70,
  "statements": 70
}